*.elf    
# unecrypted be like

*.self   
# encrypted be like

*.ppu
*.spu
# gpu/cpu be like

# some bullshit fuckery stuff down here
*.dbg
*.sym
*.map

*.o
*.obj
# compiled be like

*.a
*.so
# compiled more be like

*.dll    
# windows be like

*.lib

*.d
*.dep

*.lst    
# typed lsd the first time i was typing this bullshit

# bullshit ides
.vscode/
.idea/
*.code-workspace
# visual studio be like
*.sdf
*.suo

.DS_Store
Thumbs.db
# macos be like

desktop.ini
# windows be like

*.pkg
**/PS3/
# ps3 be like

RPCS3.log*
# RPCS3 be like